.dailyOverview {
  margin: 2rem 0;

  & h2 {
    margin-bottom: 1rem;
    @media screen and (max-width: 400px) {
      font-size: 1.25em;
    }
  }

  & .cardsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    row-gap: 1rem;

    @media screen and (max-width: 1050px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    @media screen and (max-width: 550px) {
      display: flex;
      flex-flow: column nowrap;
    }
  }
}
